<%= form_for :session, url: sessions_path do |f| %>
  <% Channel.all.each do |t| %>
   <a href=""><%= t.tag %></a><br/>
  <% end %>
  <%= f.label :username, 'Enter a username' %><br/>
  <%= f.text_field :username %><br/>
  <%= f.submit 'Start chatting' %>
<% end %>